.quote h1 {
  font-family: "Didot", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.4rem;
  color: black;
  z-index: 1;
}
.quote h1:first-letter {
  font-size: 5rem;
  font-weight: 900;
  color: #08091f;
  text-shadow: 1px 1px 5px #00000033;
}
svg {
  z-index: -1;
}
